<div id="ArtistBox">
    <div id="Banner">
        <p>Artista verificado</p>
        <h2>Kamisa 10</h2>
        <p>assinantes mensais: 2.000.000</p>
    </div>
    <div id="play">
        <a href="" id="playBtn"><i class="fa-solid fa-play"></i></a>
        <button>Seguir</button>
    </div>
    <div id="MusicBox">
        <h3>Populares</h3>
        <div id="musics">
            <ol>
                <li>
                    <img src="" alt="">
                    <p>Primeiramente ao vivo</p>
                    <p>12.587.356</p>
                    <p>2:44</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Primeiramente ao vivo</p>
                    <p>12.587.356</p>
                    <p>2:44</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Primeiramente ao vivo</p>
                    <p>12.587.356</p>
                    <p>2:44</p>
                </li>
            </ol>
        </div>
    </div>
</div>